.balance {
  display: block;
}

.main {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  flex-basis: 50vw;
  background-color: darkslategrey;
  color: white;
}

.options {
  flex-basis: 50vw;
}

.options-list {
  list-style: none;
}

.options-item {

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
